<div id="outerWrapper">

<h3>Feed the Ducks!</h3>

<div id="formId">
  <form [formGroup]="this.currentService.form">
    <label for="1">Date & Time</label>
    <input name="1" formControlName="time" type="text" class="input-field col s12" required>

    <br><label for="2">Food</label>
    <input name="2" placeholder="bread" formControlName="food" type="text" class="input-field col s12" required>

    <br><label for="3">Location</label>
    <input name="3" placeholder="Beacon Hill Park, Victoria, BC, Canada" formControlName="location" type="text"
      class="input-field col s12" required>

    <br><label for="4">Number of Ducks</label>
    <input name="4" placeholder="14" formControlName="numberOfDucks" type="text" class="input-field col s12" required>

    <br><label for="5">Type of food</label>
    <input name="5" placeholder="grain" formControlName="foodType" type="text" class="input-field col s12"
      list="foodTypes" required>
    <datalist id="foodTypes">
      <option value="Vegetables and legumes">
      <option value="Fruit">
      <option value="Bread, cereals, rice, pasta or noodles">
      <option value="Lean meat, fish, poultry, eggs, nuts, legumes or tofu">
      <option value="Milk, yoghurt and cheese">

    </datalist>

    <br><label for="6">Amount of food</label>
    <input name="6" placeholder="1-5 g" formControlName="foodQuantity" type="text" class="input-field col s12"
      list="amount" required>
    <datalist id="amount">
      <option value="< 1 g">
      <option value="1-5 g">
      <option value="6-10 g">
      <option value="10-20 g">
      <option value="> 20 g">

    </datalist>

    <button class="waves-effect waves-light btn col s12" (click)="onSubmit()"
      [disabled]="isSubmit()">
      Submit
    </button>

  </form>
</div>


<p *ngIf="show">Submitted! Thank you for your participation!</p>

</div>